
.message_link a{
    color : green;
    margin-right : 5px;
    margin-left : 5px;
}

.top_nav li{
    display:inline-block;
    border : 1px solid gray; 
    padding : 10px;
    margin : 10px;
    width:150px;
    text-align: center;
}

.top_nav li:hover{
    background: yellow;
    cursor: pointer;
}
.top_nav .site_img{
    border : none;
}
.top_nav .site_img img{
    width: 60%;
}

.footer{
    margin-top:20px;
    float: right;    
}

.booklist_box li{
    list-style: none;
    border-bottom:  1px solid gray;
    width :200px;
    padding:10px;
    text-align: center;
    text-transform: uppercase;
    color : #BD6591;
}

.booklist_box li:last-child{
    border-bottom: 0px;
}

/* home */
.user_box {
    position: relative;
}

.user_box_pop{
    position: absolute;    
    right:30px;
    top: 50px;
    background: black;
    color: #fff;
    padding: 10px;
     border-radius: 5px; 
}

/* gallery page */

.gallery_box li{
    
    border : 1px solid#379DE8;
    display: inline-block;
    padding :10px;
    margin :5px;
}

.gallery_box button{
    border :1px solid gray;
    margin-right : 10px;
    border-radius: 3px;
    padding : 5px;
}

/* Model  */

#modal-root {
    position: relative;
    z-index: 999;
  }
  
  .app {
    height: 10em;
    width: 10em;
    background: lightblue;
    overflow: hidden;
  }
  
  .modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color : #fff
  }
  