.box_border
{
  border: 1px solid gray;
  padding : 10px
}

.clr{
  clear :both;
}

.metro_name_list li{
  border : 1px solid gray;
  padding : 10px;
  width: 200px;
  list-style: none;
}

.show-bg{
  background: #E2E1E1;
}