

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.offers-section img{
  width : 200px;
  border : 1px solid green;
}


.lft_arrow   , .rgt_arrow{
  padding: 15px;
  border : 1px solid gray;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  line-height: 1px;
}

.my_slider{
  position: relative;
  border :1px solid black;
}

.my_slider .lft_arrow{
  position: absolute;
  left: -50px;
  top:140px;
}
.my_slider .rgt_arrow{
  position: absolute;
  right: 50px;
  top:140px;
}

  .column {
    float: left;
    width: 300px;
    height : 300px;
    padding: 5px;
    border :1px solid red;
}
.column span{
  text-align: center;
  display: block;
}

.column img{
  width : 100%;
  border :1px solid green;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.card-block{
  XXborder : 1px solid red;
  padding :10px 30px 10px 30px;
  position: relative;  
}
.card {
  background-color: #fff;  
  min-width: 100%;
  min-height: 200px;
  XXdisplay: flex;
  float: left;
  XXoverflow-x: auto; 
  border: 1px solid green;  
  Xpadding: 10px;
  -webkit-transition : all 1s ease-in-out;
  transition : all 1s ease-in-out;
}

.arrow_left , .arrow_right{
  position: absolute;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 12px;  
  line-height: 7px;
  text-align: center;
  display: block;
}

.arrow_left{
  left: -5px;
  top: 30%;
  cursor: pointer;
}

.arrow_right{
  right: -5px;
  top: 30%;
  cursor: pointer;
}
.card--content {
  XXbackground-color: #e74c3c;
  min-width: 200px;  
  width : 200px;
  padding : 10px;
  border: 1px solid blue;
  
  -webkit-transition : all 1s ease-in-out;
  transition : all 1s ease-in-out;
  overflow: hidden;
}


.card::-webkit-scrollbar {
  XXdisplay: none;
  transition : all 1s ease-in-out;
}


.card--content .img_txt{
  text-align: center;
  display: block;
  margin: 5px;
  font-weight: bold;
  color:gray;
}

.card--content img{
  width : 100%;
  border-radius: 5px;
}

.number_list button{  
  margin : 10px;
}

.number_list li{
  border :1px solid gray;
  padding : 5px;
  width : 300px;
  list-style: none;
  text-align: center;
  display: initial;
  padding: 20px;
  
}

.out_box{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border:1px solid red;
  margin: 5px;
  padding: 5px;
  -webkit-transition: all 2s linear !important;
        -moz-transition: all 2s linear !important;
        transition: all 2s linear !important;
}

.paper{
  display: inline-block;
  width : 20%;  
  XXborder:  1px solid gray;
  padding: 5px;  
  -webkit-transition: all 2s linear !important;
        -moz-transition: all 2s linear !important;
        transition: all 2s linear !important;
}

.paper img{
  width: 100%
}

.out_box::-webkit-scrollbar {
  display: none;
}

.carder{
  border: 1px solid blue;
  margin-bottom: 20px;
  width: 400px;
  height:500px;
  display: block;
  text-align: center;
  position: relative;
}

.Xcarder iframe{
  border : 1px solid green;
  vertical-align: middle;
}


.block {
  text-align: center;
  white-space: nowrap;
  border : 1px solid red;
  width:300px;
  margin-bottom: 20px;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  XXborder : 1px solid black;
}

.myiimg{
  border : 1px solid green;
}

.image-gallery-image img{
  width : 200px;
}





.img_bb{
  border : 1px solid green;  
  display: block;
  text-align: center;  
  padding : 10px;
}

.duster{
  border : 1px solid gray;  
  padding : 3px;
  
}

.img_bb img{
  width : 100%;
  object-fit: cover;  
}

.data_txt{
  border : 1px solid green
}

.data_txt .title{
  font-weight: 600;
  font-size: 16px;
}

.img_outer{
  border : 1px solid red;    
  padding : 10px;
}
